input {
    height: 40px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #BBBBBB;
    font-family: GoogleSans-Regular;
}

input:focus {
    border-color: #019160;
}

.input-search {
    border-radius: 4px;
    font-family: GoogleSans-Regular;
    outline: none;
    border: 1px solid #BBBBBB;
}

.input-search:active {
    border: 1px solid #019160;
}

.m-input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
}

.m-input:focus {
    border-color: #019160;
}


/* css cho dialog thêm nhân viên */

.input-dialog-new-task {
    width: 400px;
    border: 1px solid #bbbbbb;
    height: 40px;
}

input[type="date"] {
    padding-right: 5px;
    width: 190px;
}

input[type="checkbox"] {
    width: 16px;
}

.input-search {
    width: 600px;
}